<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<!--
		servers | This is a list of authentication profiles, keyed by the server-id used within the system. | Authentication profiles can be used whenever maven must make a connection to a remote server. |
	-->
	<servers>
		<server>
			<id>releases</id>
			<username>admin</username>
			<password>bluesalways</password>
		</server>
		<server>
			<id>snapshots</id>
			<username>admin</username>
			<password>bluesalways</password>
		</server>
		<server>  
 			<id>tomcat7</id>  
 			<username>admin</username>  
 			<password>admin</password>  
		</server> 
	</servers>
<!-- xxxx -->
	<!--
	<mirrors>
		<mirror>
			<id>nexus-public-snapshots</id>
			<mirrorOf>public-snapshots</mirrorOf>
			<url>http://192.168.2.13:8080/nexus/content/groups/public-snapshots</url>
		</mirror>
		<mirror>
			<id>nexus</id>
			<mirrorOf>*</mirrorOf>
			<url>http://192.168.2.13:8080/nexus/content/groups/public</url>
		</mirror>
	</mirrors>
	-->
	
	<profiles>
		<profile>
			<id>dev</id>
			
			<properties>
				<nexus.addr>bluesdev.yoohouse.com</nexus.addr>
				<RUNTIME_ENV>dev</RUNTIME_ENV>
			</properties>
			
			<repositories>
				<repository>
					<id>snapshots</id>
					<name>snapshots</name>
					<releases><enabled>false</enabled></releases>
					<snapshots><enabled>true</enabled></snapshots>
					<url>http://${nexus.addr}/nexus/content/repositories/snapshots</url>
				</repository>
				<repository>
					<id>releases</id>
					<name>releases</name>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>false</enabled></snapshots>
					<url>http://${nexus.addr}/nexus/content/groups/public</url>
				</repository>
			</repositories>
		</profile>
		
		<profile>
			<id>test</id>
			
			<properties>
				<nexus.addr>bluesdev.yoohouse.com</nexus.addr>
				<RUNTIME_ENV>test</RUNTIME_ENV>
			</properties>
			
			<repositories>
				<repository>
					<id>snapshots</id>
					<name>snapshots</name>
					<releases><enabled>false</enabled></releases>
					<snapshots><enabled>true</enabled></snapshots>
					<url>http://${nexus.addr}/nexus/content/repositories/snapshots</url>
				</repository>
				<repository>
					<id>releases</id>
					<name>releases</name>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>false</enabled></snapshots>
					<url>http://${nexus.addr}/nexus/content/groups/public</url>
				</repository>
			</repositories>
		</profile>

		<profile>
			<id>stage</id>
			
			<properties>
				<nexus.addr>bluesdev.yoohouse.com</nexus.addr>
				<RUNTIME_ENV>stage</RUNTIME_ENV>
			</properties>
			
			<repositories>
				<repository>
					<id>snapshots</id>
					<name>snapshots</name>
					<releases><enabled>false</enabled></releases>
					<snapshots><enabled>true</enabled></snapshots>
					<url>http://bluesdev.yoohouse.com/nexus/content/repositories/snapshots</url>
				</repository>
				<repository>
					<id>releases</id>
					<name>releases</name>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>false</enabled></snapshots>
					<url>http://bluesdev.yoohouse.com/nexus/content/groups/public</url>
				</repository>
			</repositories>
		</profile>
		
		<profile>
			<id>product</id>
			
			<properties>
				<nexus.addr>bluesdev.yoohouse.com</nexus.addr>
				<RUNTIME_ENV>product</RUNTIME_ENV>
			</properties>
			
			<repositories>
				<repository>
					<id>snapshots</id>
					<name>snapshots</name>
					<releases><enabled>false</enabled></releases>
					<snapshots><enabled>true</enabled></snapshots>
					<url>http://bluesdev.yoohouse.com/nexus/content/repositories/snapshots</url>
				</repository>
				<repository>
					<id>releases</id>
					<name>releases</name>
					<releases><enabled>true</enabled></releases>
					<snapshots><enabled>false</enabled></snapshots>
					<url>http://bluesdev.yoohouse.com/nexus/content/groups/public</url>
				</repository>
			</repositories>
		</profile>
	</profiles>

	<activeProfiles>
		<activeProfile>product</activeProfile>
	</activeProfiles>

</settings>
